{% extends 'tickets/base.html' %}

{% block content %}
<div class="create-users-forms">
    <div>
        <h2 class="text-primary mb-2">Crear nuevo Usuario</h2>
    </div>
    <form method="POST" enctype="multipart/form-data" class="users-c-form">
        {% csrf_token %}  
            
        <div>
            <label for="id_username" class="mb-2 blue-sys">Nombre de usuario</label>
            <input type="text" name="username" id="id_username" value="{{ form.username.value|default:"" }}" class="form-control form-crud" minlength="2" maxlength="45" required>

            {% if form.username.errors %}
            <div class="errors mb-2">
                {% for error in form.username.errors %}
                <p class="text-danger">{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="dual-form">
            <div class="w-100">
                <label for="id_username" class="mb-2 blue-sys">Nombre</label>
                <input type="text" name="name" id="id_name" value="{{ form.name.value|default:"" }}" class="form-control form-crud" minlength="2" maxlength="45" required>

                {% if form.name.errors %}
                <div class="errors mb-2">
                    {% for error in form.name.errors %}
                    <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="w-100">
                <label for="last_name" class="mb-2 blue-sys">Apellido</label>
                <input type="text" name="last_name" id="id_last_name" value="{{ form.last_name.value|default:"" }}" class="form-control form-crud" minlength="2" maxlength="45" required>
                
                {% if form.last_name.errors %}
                <div class="errors mb-2">
                    {% for error in form.last_name.errors %}
                    <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
        <div>
            <label for="email" class="mb-2 blue-sys">Correo</label>
            <input type="email" name="email" id="id_email" value="{{ form.email.value|default:"" }}" class="form-control form-crud" minlength="4" maxlength="45" required>

            {% if form.email.errors %}
                <div class="errors mb-2">
                    {% for error in form.email.errors %}
                    <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="dual-form">
            <div class="w-100">
                <label for="rut" class="mb-2 blue-sys">Rut</label>
                <input type="text" name="rut" id="id_rut" value="{{ form.rut.value|default:"" }}" class="form-control form-crud" minlength="10" maxlength="10" required>

                {% if form.rut.errors %}
                <div class="errors mb-2">
                    {% for error in form.rut.errors %}
                    <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="w-100">
                <label for="rol" class="mb-2 blue-sys">Rol de usuario</label>
                <select name="rol" id="id_rol" class="form-control form-crud">
                    <option value="" {% if not form.rol.value %} selected {% endif %}>Seleccione un rol</option>
                    {% for option in form.rol.field.queryset %}
                        <option value="{{ option.id }}" {% if option.id == form.rol.value %} selected {% endif %}>
                            {{ option }}
                        </option>
                    {% endfor %}
                </select>

                {% if form.rol.errors %}
                <div class="errors mb-2">
                    {% for error in form.rol.errors %}
                    <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="dual-form">
            <div class="w-100">
                <label for="id_password1" class="mb-2 blue-sys">Contraseña</label>
                <input type="password" name="password1" id="id_password1" value="{{ form.passoword1.value|default:"" }}" class="form-control form-crud" minlength="8" required>

                {% if form.password1.errors %}
                <div class="errors">
                    {% for error in form.password1.errors %}
                    <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            <div class="w-100">
                <label for="id_password2" class="mb-2 blue-sys">Confirmar contraseña</label>
                <input type="password" name="password2" id="id_password2" value="{{ form.passoword2.value|default:"" }}" class="form-control form-crud" minlength="8" required>
            </div>

        </div>
        {% if form.password2.errors %}
                <div class="errors mb-2">
                    {% for error in form.password2.errors %}
                    <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                </div>
        {% endif %}
        <button type="submit" class="btn btn-primary">Crear usuario</button>
        <a href="{% url 'userlist' %}" class="btn btn-dark mx-2">Volver atrás</a>
    </form>
</div>
{% endblock %}