{% extends "tickets/base.html" %}

{% block content %}

<div class="p-4">
    <h2 class="my-2 blue-sys">Gestión de Tickets de Salida</h2>
    {% if request.user.rol.name != 'Portero' %}
    <form method="POST">
        {% csrf_token %}
        <div class="mb-5">
            <div class="d-flex flex-wrap gap-3 mt-4 mb-3">
                <p>
                    <label for="id_patente">Patente vehicular:</label>
                    <input type="text" name="patente" class="form-control mt-2" minlength="6" maxlength="6" required="" id="id_patente">
                </p>
                <div class="btn-form">
                    <button type="submit" class="btn btn-primary mt-4 mx-2">Crear Ticket</button>
                </div>
            </div>
            {% if form.patente.errors %}
            <div class="errors mb-2">
                {% for error in form.patente.errors %}
                <p class="text-danger">Ya existe un Ticket de Salida con la Pantente ingresada...</p>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </form>
    {% endif %}
    <div class="search-content mt-3">
        <i class="bi bi-search menu-icon"></i>
        <input type="text" class="search-inpt" placeholder="Buscar Patente vehicular" maxlength="6">
        <button class="btn btn-primary">Buscar</button>
    </div>
    {% if TicketS %}
        <div class="border-table mt-3">
            <table class="table ">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Patente</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Hr Ingreso</th>
                        <th scope="col">Hr Salida</th>
                        <th scope="col">Min transcurridos</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Total</th>
                        <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in TicketS %}
                    <tr>
                        <th scope="row">{{ p.id }}</th>
                        <td>{{ p.patente }}</td>
                        <td>{{ p.date|date:"d-m-y" }}</td>
                        <td>{{ p.entrace_time }}</td>
                        <td>{{ p.exit_time }}</td>
                        <td>{{ p.min_lapsed }}</td>
                        <td>
                            {% if p.state.name == 'Activo' %}                          
                            <p class="state-activo">{{ p.state }}</p>
                            {% elif p.state.name == 'Cerrado' %}  
                            <p class="state-cerrado">{{ p.state }}</p>
                            {% elif p.state.name == 'Pagado' %}  
                            <p class="state-pagado">{{ p.state }}</p>
                            {% endif %} 
                        </td>
                        <td>${{ p.price }}</td>
                        <td>${{ p.total }}</td>
                        <td class="d-flex gap-2">
                            <a href="{% url 'ticketSdetail' p.id %}" class="btn btn-dark"><i class="bi bi-info-circle"></i></a>
                            {% if request.user.rol.name != 'Portero' %}
                            <a href="{% url 'ticketSupdate' p.id %}" class="btn btn-primary"><i class="bi bi-pencil-square"></i></a>
                            <a href="{% url 'ticketSdelete' p.id %}" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>
                            {% endif %}
                        </td>
                    <tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
    <h4 class="mt-4">No existen Tickets registrados...</h4>
    {% endif %}
    </div>
{% endblock %}