{% extends 'tickets/base.html' %}

{% block content %}

<div class="p-4">
    <h2>Detalle Ticket</h2>
    <p class="mb-2">Plantilla temporal</p>
    <p class="d-lg-none" id="patente">{{ TicketE.patente }}</p>
    <input type="text" class="d-lg-none" id="state" value="ID: {{ TicketE.id }} | Patente: {{ TicketE.patente }} | Fecha: {{ TicketE.date }} | Ht Ingreso: {{ TicketE.entrace_time }} | Estado: {{ TicketE.state }} | Precio: {{ TicketE.price }}">
    <ul>
        <li id="d1">ID: {{ TicketE.id }}</li>
        <li id="d2">Patente: {{ TicketE.patente }}</li>
        <li id="d3">Fecha: {{ TicketE.date|date:'d-m-y' }}</li>
        <li id="d4">Hr Ingreso: {{ TicketE.entrace_time }}</li>
        <li id="d5">Estado: {{ TicketE.state }}</li>
        <li id="d6">Precio: ${{ TicketE.price }}</li>
        
        <div id="qrcode" class="mt-2"></div>
        
    </ul>
    <button id="mypdf" class="btn btn-success">PDF test</button>
    <a href="{% url 'ticketE' %}" class="btn btn-dark mx-2">Volver atrás</a>
</div>

<script>
    const id = document.getElementById('d1').innerHTML;
    const patente = document.getElementById('d2').innerHTML;
    const fechat = document.getElementById('d3').innerHTML;
    const horat = document.getElementById('d4').innerHTML;
    const estado = document.getElementById('d5').innerHTML;
    const precio = document.getElementById('d6').innerHTML;
    const qrcode = document.getElementById('qrcode');
        
    document.getElementById("mypdf").addEventListener("click", () => {
        const patenteValue = document.getElementById('patente').innerHTML;
        const { jsPDF } = window.jspdf;
        const doc = new jsPDF();

        doc.setFontSize(20);
            doc.text("Detalle de Ticket de Entrada", 10, 10);

        doc.setFontSize(12);
            doc.text(id, 10, 20);
            doc.text(patente, 10, 30);
            doc.text(fechat, 10, 40);
            doc.text(horat, 10, 50);
            doc.text(estado, 10, 60);
            doc.text(precio, 10, 70);

        html2canvas(qrcode, {
            onrendered: function(canvas) {
                const imgData = canvas.toDataURL("image/png"); // Convertir el canvas a una imagen en base64
                doc.addImage(imgData, 'PNG', 10, 80, 0, 0); 
                
                const TicketFileName = `DataTicketEntrada-${patenteValue}.pdf`;
                doc.save(TicketFileName);
            }
        });       
    });
</script>

{% endblock %}