{% extends 'tickets/base.html' %}

{% block content %}
<div class="p-3">
    <div class="message-content">
        <h3>¿Cerrar Ticket de Entrada: <b class="blue-sys">{{ TicketE.id }}</b>?</h3>
        <p class="text-secondary mb-4">Al confirmar, se Cerrará el Ticket de Entrada seleccionado</p>
        <form method="post">
            {% csrf_token %}
            <div class="d-none">
                <select name="state" class="form-control mt-2" id="id_state">
                    <option value="1">Activo</option>             
                    <option value="2" selected="">Cerrado</option>             
                    <option value="3">Pagado</option>           
                </select>
            </div>
            <input type="submit" value="Cerrar Ticket" class="btn btn-success mx-3">
            <a href="{% url 'ticketE' %}" class="btn btn-primary">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}