{% extends "tickets/base.html" %}

{% block content %}

<div class="user-list-content">
  <h2 class="mb-4 blue-sys">Gestión de Estado de Tickets</h2>
  <div class="mb-3 user-template-actions">
      <div class="search-content">
          <i class="bi bi-search menu-icon"></i>           
          <input type="text" name="find-rol" class="search-inpt" placeholder="Buscar Estado de ticket" maxlength="10">
          <button class="btn btn-primary">Buscar</button>
      </div>
      <div class="d-flex gap-2">
          <a href="{% url 'statecreate' %}" class="btn btn-primary">Crear Estado de Ticket</a>
      </div>
  </div>
  {% if Estado %}
  <div class="border-table">
      <table class="table ">
          <thead>
              <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Descripción</th>
                  <th scope="col">Acción</th>
              </tr>
          </thead>
          <tbody>
              {% for r in Estado %}
              <tr>
                  <th scope="row">{{ r.id }}</th>
                  <td>{{ r.name }}</td>
                  <td>{{ r.description }}</td>
                  <td class="d-flex gap-2">
                      <a href="{% url 'stateupdate' r.id %}" class="btn btn-primary"><i class="bi bi-pencil-square"></i></a>
                      <a href="{% url 'statedelete' r.id %}" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>
                  </td>
              <tr>
              {% endfor %}
          </tbody>
      </table>
  </div>
  {% else %}
  <h4>No existen Estado de Tickets...</h4>
  {% endif %}
</div>

{% endblock  %}

