{% extends 'tickets/base.html' %}

{% block content %}
<div class="p-3">
    {% if rol %}
    <div class="message-content">
        <h3>¿Eliminar Rol de usuario: <b class="blue-sys">{{ rol.name }}</b>?</h3>
        <p class="text-secondary mb-4">Al confirmar, se eliminará el Rol de usuario de manera definitiva del sistema...</p>
        <form method="post">
            {% csrf_token %}
            <input type="submit" value="Eliminar" class="btn btn-danger mx-3">
            <a href="{% url 'listrol' %}" class="btn btn-primary">Cancelar</a>
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}