{% extends 'tickets/base.html' %}

{% block content %}
<div class="p-3">
    {% if TicketE %}
    <div class="message-content">
        <h3>¿Eliminar Ticket de Entrada: <b class="blue-sys">{{ TicketE.id }}</b>?</h3>
        <p class="text-secondary mb-4">Al confirmar, se eliminará el Ticket de Entrada {{ TicketE.id }} de manera definitiva del sistema...</p>
        <form method="post">
            {% csrf_token %}
            <input type="submit" value="Eliminar" class="btn btn-danger mx-3">
            <a href="{% url 'ticketE' %}" class="btn btn-primary">Cancelar</a>
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}