{% extends 'tickets/base.html' %}

{% block content %}

<div class="p-4">
    <h2>Plantilla temporal</h2>
    <ul>
        <li id="d1">ID: {{ TicketE.id }}</li>
        <li id="d2">Patente: {{ TicketE.patente }}</li>
        <li id="d3">Fecha: {{ TicketE.date }}</li>
        <li id="d4">Hr Ingreso: {{ TicketE.entrace_time }}</li>
        <li id="d5">Estado: {{ TicketE.state }}</li>
        <li id="d6">Precio: {{ TicketE.price }}</li>
        {% load static %}
        <img src="{% static 'tickets/img/qrcode.png' %}" alt="" width="10%" id="d7">
    </ul>
    <button id="mypdf" class="btn btn-success">PDF test</button>
    <a href="{% url 'ticketE' %}" class="btn btn-dark mx-2">Volver atrás</a>
</div>

{% endblock %}