{% extends "tickets/base.html" %}

{% block content %}

<div class="user-list-content">
    <h2 class="mb-4 blue-sys">Gestión de Usuarios</h2>
    <div class="mb-3 user-template-actions">
        <div class="search-content">
            <i class="bi bi-search menu-icon"></i>
            <input type="text" class="search-inpt" placeholder="Buscar RUT de usuario" maxlength="10">
            <button class="btn btn-primary">Buscar</button>
        </div>
        <div class="d-flex gap-2">
            <a href="{% url 'usercreate' %}" class="btn btn-primary">Crear usuarios</a>
            <a href="{% url 'rolcreate' %}" class="btn btn-primary">Roles de usuario</a>
        </div>
    </div>
    {% if usersys %}
    <div class="border-table">
        <table class="table ">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Rut</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Rol</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for u in usersys %}
                <tr>
                    <th scope="row">{{ u.id }}</th>
                    <td>{{ u.name }}</td>
                    <td>{{ u.last_name }}</td>
                    <td>{{ u.rut }}</td>
                    <td>{{ u.email }}</td>
                    <td>{{ u.rol }}</td>
                    <td class="d-flex gap-2">
                        {% if request.user.rol.name != 'root' and u.rol.name == 'root' or request.user.rol.name != 'root' and u.rol.name == 'Administrador' %}
                            <p class="text-danger">NO AUTORIZADO</p>
                        {% else %}
                            <a href="{% url 'userupdate' u.id %}" class="btn btn-primary"><i class="bi bi-pencil-square"></i></a>
                            <a href="{% url 'userdelete' u.id %}" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>
                        {% endif %}
                    </td>
                <tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <h4>No existen usuarios registrados...</h4>
    {% endif %}
</div>

{% endblock  %}

