:root {
    --color1: #396af1;
    --color2: #0d0e12;
    --color3: #B7B7B7;
    --color4: #FFFFFF;
}

nav {
    height: 5rem;
    border-bottom: solid 1px #B7B7B7;
    background-color: #FFFFFF;
}

.bg-body-tertiary {
    background-color: #FFFFFF !important;
}

.blue-sys {
    color: #396af1;
}

.form-crud {
    margin-bottom: 1rem;
}

.container-fluid {
    padding: 0 2rem;
    position: relative;
}

.icon-project {
    width: 9rem;
}

.sidebar {
    width: 20rem;
    height: 91.5vh;
    border-right: solid 1px #B7B7B7;
}

.nav-link {
    padding: 0;
    color: black;
    transition: .3s;
}

.menu {
    padding: 1rem;
    gap: 1rem;
}

.menu-icon {
    font-size: 1.5rem;
    color: #B7B7B7;
    transition: .3s;
}

.option {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
}

.nav-item:hover .nav-link {
    color: #396af1;
    transition: .3s;
}

.nav-item:hover .bi {
    color: #396af1; 
    transition: .3s;
}

.nav-item:hover .option {
    background-color: #dcedff;
}

.option-text {
    margin: 0;
    color: #0d0e12;
}

.avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.profile-menu-main {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 15rem;
    margin-top: 3.2rem;
}

.profile-menu {
    background-color: #ffffff;
    border: solid 1px #B7B7B7;
    border-radius: .5rem;
    margin-right: .5rem;
}

p {
    margin: 0;
}

.user-info {
    padding: 1rem;
    border-bottom: solid 1px #B7B7B7;
}

.uf2 {
    border: none;
}

.user-data {
    color: #396af1;
}

.active {
    display: flex;
}

.disabled {
    display: none;
}

.asdasd {
    width: 100%;
}

.perfil-option {
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.home-content {
    background-color: transparent;
    height: 91.5vh;
    width: 83.5%;
    scroll-behavior: smooth;
    overflow-y: scroll;
}

.profile-view {
    margin: 0;
    width: 100%;
    background-image: url(../img/bg2.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 91.5vh;
}

.profile-inpts {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-img-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: .5rem;
}

.profile-card {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: .5rem;
}

.perfil-content {
    display: flex;
    gap: 2rem;
}

.title {
    margin-bottom: 1.5rem;
}

.bi-arrow-left-square {
    color: white;
}

.edit-perfil {
    width: 100%;
    margin-top: 2rem;
}

.create-users-forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 91.5vh;
    width: 100%;
    padding: 0 8rem;
}

.users-c-form {
    width: 100%;
}

.dual-form {
    display: flex;
    gap: 1rem;
}

.user-list-content {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    height: 91vh;
}

.border-table {
    border: solid 1px #B7B7B7;
    border-radius: .5rem;
    padding: .4rem .5rem;
}

.search-inpt {
    border: none;
    outline: none;
    width: 100%;
}

.search-content {
    border: solid 1px #B7B7B7;
    border-radius: .5rem;
    padding: .5rem .5rem .5rem 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 25rem;
}

.user-template-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.users-u-form {
    display: flex;
    gap: 2rem;
}

.update-users-forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 91.5vh;
}

.message-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 91.5vh;
}

.home-bg {
    width: 100%;
    display: flex;
    gap: 1rem;
    border-radius: .5rem;
}

.graphs-content {
    width: 50%;
    max-height: 40rem;
    border: solid 1px #f1f4fe;
    background-color: #f1f4fe;
    border-radius: .5rem;
    padding: 1.5rem;
}

.date-time-content {
    background: url(../img/bg2.png);
    background-position: center;
    background-size: cover;
}

.ticket-graph {
    max-height: 16rem;
}

.money-graph {
    max-width: 50%;
    max-height: 15rem;
    border-radius: .5rem;
}

.graph-data {
    display: flex;
    align-items: center;
    justify-content: center;
}

.month-list {
    list-style: none;
    margin: 0;
}

.month-data {
    display: flex;
    justify-content: space-between;
}

.state-activo {
    padding: .1rem 0;
    background-color: #03a9f4;
    border-radius: .2rem;
    color: #fff;
    max-width: 60%;
    display: grid;
    place-items: center;
}

.state-pagado {
    padding: .1rem 0;
    background-color: #009688;
    border-radius: .2rem;
    color: #fff;
    max-width: 60%;
    display: grid;
    place-items: center;
}

.state-cerrado {
    padding: .1rem 0;
    background-color: #dc3546;
    border-radius: .2rem;
    color: #fff;
    max-width: 60%;
    display: grid;
    place-items: center;
}
